.card {
    width: 95%;
    margin: 3%;
    height: fit-content;
    min-height: 100px;
    background-color: hsl(0, 0%, 10%);
    border-radius: 20px;
}

.card__title {
    align-self: center;
}

.card__desc {
    padding: 1rem;
    word-break: break-all;
}

.card__image {
    width: 15rem;
    place-self: center;
}

.info {
    position: absolute;
    background-color: red;
}