.landing {
    display: flex;
    align-items: center;
    place-content: center;
    height: 100vh;
    position: relative;
    color: aliceblue;
}

.landing__image {
    position: absolute;
    z-index: -1;
    object-fit: cover;
    width: 100%;
    height: 100%;
    filter: blur(0.7px) brightness(0.3) grayscale(0.13) saturate(1.3);
}

.landing__header {
    font-family: monospace;
}

.overlay-image {
    position: absolute;
    bottom: -1px;
    z-index: 10;
    width: 100%;
    height: 50%;
    background: linear-gradient(0deg, hsl(0deg, 0%, 11%) 0%, rgba(0, 0, 0, 0) 100%);
}