body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Nunito-Regular', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

p {
  word-wrap: normal;
  margin: 5px;
}

h3 {
  margin: 2px;
}

.dark-wrapper {
  background-color: hsl(0, 0%, 11%);
  color: hsl(0, 0%, 85%);
  padding: 2rem;
  position: relative;
  overflow: hidden;
}

.dark-header {
  color:hsl(0, 0%, 15%);
}

.light-dark-wrapper {
  background-color: hsl(0, 0%, 13.5%);
  color: hsl(0, 0%, 70%);
  padding: 2rem;
  position: relative;
  overflow: hidden;
}

.light-header {
  color:hsl(0, 0%, 10%);
}

.header {
  position: absolute;
  font-size: 5rem;
  left: -0.5rem;
  top: -1.5rem;
}

.flex {
  display: flex;
}

.flex-row {
  flex-direction: row;
  flex-wrap: wrap;
}

.flex-col {
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}

.on-top {
  position: relative;
  z-index: 1;
}

.center {
  align-items: center;
}

.margin-lr {
  margin-left: 10px;
  margin-right: 10px;
}

.margin-tb {
    margin-top: 10px;
    margin-bottom: 10px;
}

.border-top {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.border-bottom {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.custom-button {
  height: -moz-fit-content;
  height: fit-content;
  background-color: hsl(0deg, 0%, 20%);
  border: none;
  color: hsl(0deg, 0%, 85%);
  padding: 0.5rem;
  cursor: pointer;
  font-weight: bold;
}

@media (max-width: 640px) {
  .flex-row {
    flex-direction: column;
  }
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: hsl(0deg, 0%, 13.5%);
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: hsl(0deg, 0%, 5%); 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: hsl(0deg, 0%, 20%); 
  border-radius: 10px;
}